body {
  background-image: url("../img/lake-tahoe.jpeg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

h1 {
  font-size: 50px;
  text-align: center;
}
.custom-select {
    font-size: 18px;
      color: black;
}
